    <footer class="text-center mt-5 mb-3 text-muted">
      <small>© 2025 <a href="https://https://www.nortk.com.mx">norTK</a></small>
      <small><a href="https://electorjudicial.com.mx/terms">Términos y condiciones</a>|</small>
      <small><a href="https://electorjudicial.com.mx/privacy">Privacidad</a>|</small>
      <small><a href="https://electorjudicial.com.mx/data">Datos</a></small>
    </footer>

