    <footer class="text-center mt-5 mb-3 text-muted">
      <small><a href="https://www.nortk.com">© 2025 norTK</a></small>
      <small><a href="https://electorjudicial.com.mx/terms">Términos y condiciones</a>|</small>
      <small><a href="https://electorjudicial.com.mx/privacy">Privacidad</a>|</small>
      <small><a href="https://electorjudicial.com.mx/data">Datos</a></small>
    </footer>

