<div id="facebook_info" class="facebook">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '691334669932105',
      xfbml      : true,
      version    : 'v22.0'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


    function checkLoginState() {
        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}

</script>

</div>


    <style>
      body {
        background-color: #f8f9fa;
        font-family: 'Roboto', sans-serif;
      }
      .navbar {
        background-color: #d22688;
      }
      .navbar-brand, .nav-link, .nav-item {
        color: #fff !important;
        font-weight: 500;
      }
      .hero {
        background-color: #ffffff;
        padding: 60px 20px;
        text-align: center;
        border-radius: 10px;
        margin-top: 40px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      }
      .btn-ine {
        background-color: #d22688;
        color: #fff;
        border: none;
      }
      .btn-ine:hover {
        background-color: #b61e75;
      }
      .hero img {
        max-width: 200px;
        margin: 20px auto;
      }
      footer {
        font-size: 0.9rem;
      }

      /* Responsividad extra */
      @media (max-width: 768px) {
        .hero {
          padding: 40px 15px;
        }
        .navbar-nav {
          text-align: center;
        }
        .nav-item {
          margin-bottom: 10px;
        }
      }
    </style>


    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">Elecciones Judiciales</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="color:white;"><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/login/facebook">
                <i class="fa fa-sign-in"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/generate-vote-list"><i class="fa fa-list"></i> Generar listado de voto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fa fa-home"></i> Inicio</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
